@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Changa+One:ital@0;1&family=Indie+Flower&family=Libertinus+Keyboard&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Permanent+Marker&family=Story+Script&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import 'components/nav';
@import 'components/responsive';
@import 'components/home';
@import 'components/table';
@import 'components/footer';
@import 'components/games';
@import 'components/lesson';
@import 'components/allpage';
@import 'components/marquee';
@import 'components/exam';
$black:#131313;
$font: "Nunito", sans-serif;
$margin:12px;
$font_hight: "Story Script", sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
    scroll-behavior: smooth;
}
.down i{
    // position: sticky;
    // right:0;
    // bottom: 80px;
    // background: #000;
    border: none;
    border-radius: 100%;
    font-size:32px ;
}
// @keyframes left{
//     from{
//         transform: translateY(100px);
//         opacity: 0;
//     }
//     to {
//         transform: translateY(0px);
//         opacity: 1;
//     }
// }