.up{
    display: flex;
}
footer{
    height: 80vh;
    display: flex;  
    justify-content: center;
    flex-direction: column;
    padding-top:150px;
    // padding-bottom:40px;
    // background: rgb(218, 218, 218);
    background:linear-gradient(to left ,rgb(9, 191, 179),#068ad6 ) ;
    clip-path: polygon(0% 20%,20% 0%, 100% 20%,100% 100%,0% 100%);
    transition: all 10s ease;
    animation: move 10s ;
    animation-timeline: view();
}
@keyframes move{
    25%{
        clip-path: polygon(0% 20%,20% 0%, 100% 20%,100% 100%,0% 100%);
    }
    60% {
        clip-path: polygon(0% 20%,80% 0%, 100% 20%,100% 100%,0% 100%);
    }
}
.down{
    display: flex;
    align-items: start;
    justify-content: space-around;
}
.down ul{
    gap:0px;
    flex-direction: column;
}
.down ul li{
    list-style-type: none;
    padding:10px;
    font-size: 16px;
}
.down ul li a:hover{
    -webkit-text-stroke-color:rgb(255, 255, 255) ;
    list-style-type: none;
    color: white;
}
.down ul li a:hover::after{
    background: white;
}
.down a{
    color: black;
}
.down .icon{
    display: flex;
    gap:24px;
}
.down .icon i{
    font-size: 32px;
    transition: .8s linear;
}
.icon i:hover{
    transform: scale(1.5);
    transition: 1s ease;
}
.icon .Face:hover{
    color:#ffffff;
}
.icon .Tele:hover{
    color:#ffffff;
}
.icon .Link:hover{
    color:#fffffffc;
}
.tel{
    display: flex;
    flex-direction: column;
    gap:4px;
}
.tel .call {
    align-items: center;
    display: flex;
    gap:4px;
}