.up{
    display: flex;
}



.down{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.down ul{
    gap:8px;
}
.down a{
    color: black;
}
.down .icon{
    display: flex;
    gap:24px;
}
.down .icon i{
    font-size: 32px;
}
.icon .Face:hover{
    color:#1877F2;
}
.icon .Tele:hover{
    color:#0088cc;
}
.icon .Link:hover{
    color:#0A66C2fc;
}
.tel{
    display: flex;
    flex-direction: column;
    gap:4px;
}
.tel .call {
    display: flex;
    gap:4px;
}
