
.marquee{
    display: flex;
    max-width: 1295px;
    height: 100px;
    overflow: hidden;
    border: rgb(0, 0, 0) 2px solid;
    margin: auto;
    background: #000;
    overflow-x: auto;
    mask-image: linear-gradient(
         to right,
         transparent,
         #000 10% 90%,
         transparent
     );
}
.marquee::-webkit-scrollbar{
    display: none;
}
.marquee.group:hover{
    cursor: pointer;
}
.marquee .group{
    background: #000; 
    width:1850px !important;
    display: flex;
    animation: leftToRight 17s linear infinite;
}
.marquee .group:hover{
    animation-play-state: paused;
}
.marquee div:nth-child(odd){
    height: 100px;
    width: 185px;
}    
.marquee div:nth-child(even){
    height: 100px;
    width: 185px;
    align-content: center;
}
.marquee .card img{
    width: 185px;
}
@keyframes leftToRight{
    0%{
        translate: 0;
    }
    100%{
        translate:-100%;
    }
}

.profile
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height:50vh;

}
.profile .imagePro{
    background-size: cover;
    border-radius: 65% 35% 63% 37% / 30% 30% 70% 70%;
    background-image: url(../../photo/cr.jpg);
    width:300px;
    height: 48vh;
    justify-self: center;
    position: relative;
    translate: translateX(100px);
}
@property --angle{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
.profile .imagePro::after,.profile .imagePro::before{
    --angle:0deg;
    content:'';
    width:100%;
    height:100%;
    background: conic-gradient(from var(--angle),#ff0000,#ff7300,#fffb00,#48ff00,rgba(9, 191, 179, 0.64),#068ad6e6,#7a00ff,#ff00c8,#ff0000);
    border-radius: 65% 35% 63% 37% / 30% 30% 70% 70%;
    position: absolute;
    top: -4px;
    left:-4px;
    z-index: -1;
    animation: --angle  4s ease infinite;
    padding: 4px;
}
.profile .imagePro::before{
    padding: 4px;
    opacity: .5px;
    filter: blur(10px);
}
.textProfile h1{
    position: relative;
    top: 5220px !important;
}
.profile .textProfile{
    align-self: center ;
    text-align: center;
    width:550px;
}
@keyframes -move{
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes --angle{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}