@media (max-width:426px){
    .home{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr ;
        height: 150vh;
    }
    .toggle-btn{
        display: block !important;
        cursor: pointer;
    }
    nav{
        display: none;
    }
    header img{
        width:80px;
    }
    
    .card3{
        background-position-y:90px ;
        background-position-x: center;
        background-size: cover;
    }
    .box .text{
        // background: rgb(62, 62, 62);
        padding:0px 64px 0px 0px;
    }
    .profile{
        flex-direction:column-reverse ;
        height:100vh !important;
    }
    .profile .imagePro{
        margin-left: 60px;
    }
    .profile .textProfile{
        display: flex;
        flex-direction: column;
        width:350px !important;
        text-align: center;
        padding:0px 16px;
    }
    .profile .textProfile h1{
        font-size: 40px;
        width:300px;
        position: absolute;
        left:60px;
        top:4920px;
    }
    .profile .textProfile h3{
        width:350px;
        margin-left:-80px;
    }
    #exam,.lesson{
        height:140vh !important;
    }
    .lesson .less{
        margin-left:-20px
    }
    #exam .less{
        width:500px ;
        margin-left: 20px;
        margin-right: 24px;
    }

footer{
    height: 100vh !important;
    display: flex;  
    justify-content: center;
    flex-direction: column;
    padding-top:100px !important;
    clip-path: polygon(0% 20%,20% 10%, 100% 20%,100% 100%,0% 100%) !important;
}


.down{
    display: flex;
    align-items: center !important;
    justify-content: space-around !important;
    flex-direction: column;
}
.down ul li{
    list-style-type: none;
    padding:10px;
    font-size: 16px;
}

.down .icon{
    display: flex;
    gap:24px;
}
.down .im{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.im img{
    width: 100px !important;
    position: relative;
    left: -20px;
}
.down .mid{
    height:80px;
    width:100%;
}
.mid nav{
    margin-top: -30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.mid nav ul{
    display: flex;
    gap:4px;
    flex-direction: row;
}
.group {
    margin-bottom: 16px;
}
.containGames{
    overflow-x:scroll ;
}
.games div:nth-child(3){
    margin-right: 20px !important;
}
}



@media (max-width:1024px){
    .containGames{
        overflow-x:scroll ;
    }
    .containGames h1{
        font-size:72px;
    }
    nav a{
        font-size: 14px;
    }
    .home{
        // background: #000;
        padding-top: 160px;
    }
    .home .card3{
        background-position-y: -60px;
    }
    .one{
        margin-left:-70px ;
        width:500px
    }
    .two{
        width:500px;
    }
    .three{
        width:500px;
    }
    .information{
        overflow-x: scroll;
    }
    .get{
        overflow-x: scroll;
    }
    .g{
        width: 300px;
    }
    .img img{
        width:80px;
    }
    .g .text h1{
        font-size: 24px;
    }
    .g .text h3{
        font-size: 16px;
    }
    .profile
    {
        // background: #000;
        height:60vh;
    }
    .profile .imagePro{
        width:200px;
        height: 55vh !important;

    }
    .profile .textProfile{
        // background: #000 ;
        width:50% !important;
    }
    footer{
        margin-top: 80px;
    }

}